[Unit]
Description=Touchpad Thumb Keys Daemon
After=sys-subsystem-input-devices.device graphical.target
Wants=sys-subsystem-input-devices.device
# Tell systemd to initialize this before other input handlers.
# Send a PR if yours is missing from this list!
Before=kanata.service keyd.service kmonad.service input-plumber.service

[Service]
Type=simple
WorkingDirectory=/usr/local/bin
ExecStart=/usr/bin/python3 /usr/local/bin/touchpad-thumbkeys.py

# Pause systemd's queue for 1 second to give uinput time to create the device nodes and ready them for Kanata
# Only required if you run Kanata as a service.
ExecStartPost=/bin/sleep 1

Environment=PYTHONUNBUFFERED=1
Restart=on-failure
RestartSec=3s
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=true

[Install]
WantedBy=graphical.target